header, body {
    font-family: 'Avenir Next';
    font-size: 18px;
    text-size-adjust: none;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    padding: 15px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(37,41,46);
    color: aliceblue;
    border-radius: 20px;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.flexbox {
    text-align: center;
    background-color: rgb(200, 200, 200);
    width: 90%;
    margin: 10px;
    padding: 1vw;
    border-radius: 25px;
}
ol {
    display: inline-block;
    text-align: left;
}
ol.tema {
    list-style-type: decimal;
    font-weight: bold;
}
ol.otazky {
    list-style-type: lower-alpha;
    line-height: 120%;
    font-weight: normal;
}
.tema li {
    margin-bottom: 5px;
}
.otazky li:last-of-type {
    margin-bottom: 20px;
}
a {
    color: inherit;
}
em{
    font-weight: bolder;
    font-style: normal;
}
p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding-bottom: 5px;
}
li {
    max-width: 30em;
}